<html>
	<head>
        <title>Resumen Curricular</title>
        <style>
            /* Add class to mark the active page */
            .active{
                color: #ffffff;
                background: #4c77f1;
            }
        </style>
    </head>
	<body>
		<header>
            <svg width="350px" height="150px" style="border:2px solid black;">
                <image xlink:href="../images/logo.svg" width="350px" height="150px" x="0px" y="0px"></image>
            </svg>
            <h1>Curriculum Vitae</h1>
        </header>

        <section>
            <h2>Datos Personales:</h2>

            <article>
                <p>Nombre: Kuai</p>
                <p>Apellido: Liang</p>
                <p>Alias: Sub-Zero</p>
                <p>Fecha de nacimiento: o3 de diciembre de 1987</p>
                <p>Lugar de nacimiento: Templo Lin Kuei, Earthrealm</p>
            </article>

        </section>

        <br>
        <br>

        <navbar>
            <a href="../index.html">Inicio</a>
            |
            <a href="educacion.html">Educación</a>
            |
            <a href="experiencia.html" class="active">Experiencia</a>
        </navbar>

        <section>
            <h2>Experiencia:</h2>

            <article>
                <h3>Video:</h3>
                <p>
                    <video controls autoplay>
                        <source src="../videos/sub_zero_video.mp4" type="video/mp4">
                            El navegador no soporta este formato de video
                     </video>
                </p>
            </article>

            <br>
            <br>

            <article>
                <h3>Audio:</h3>
                <p>
                    <audio controls>
                        <source src="../audios/sub_zero_audio.mp3" type="audio/mp3">
                            El navegador no soporta este formato de audio
                    </audio>
                </p>
            </article>
        </section>

        <br>
        <br>

        <footer>
            Derechos reservados
            <ul>
                <li>Email: sub.zero@gmail.com </li>
                <li>Instagram: @sub.zero</li>
                <li>Teléfono: Sin cobertura</li>
            </ul>
        </footer>

	</body>
</html>